<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #login-frame {
            margin-top: 200px;
        }
    </style>
    <title>Welcome to Unpopular!</title>
</head>
<body>
    <center id="login-frame">
        <div>
            <h1>Welcome to Unpopular!</h1>
        </div>
        <br>
        <div>
            <form action="" method="post">
                <div>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                </div>
                <br>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </div>
                <br>
                <div>
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
        <br>
        <p>Don't have a account? <a href="{{signup_page}}">Sign up here.</a></p>
    </center>
</body>
</html>