<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Unpopular Account</title>
</head>
<body>
    <center>
        <div>
            <h3>Create your account</h3>
        </div>
        <br>
        <div>
            <form action="" method="post">
                <div>
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username">
                </div>
                <br>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password">
                </div>
                <br>
                <div>
                    <input type="submit" value="Create your account">
                </div>
            </form>
        </div>
    </center>
</body>
</html>